<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bank.dao.FinancingMapper" >
  <resultMap id="BaseResultMap" type="com.bank.po.Financing" >
    <id column="financing_id" property="financingId" jdbcType="INTEGER" />
    <result column="financing_name" property="financingName" jdbcType="VARCHAR" />
    <result column="income_per" property="incomePer" jdbcType="DOUBLE" />
    <result column="begin_price" property="beginPrice" jdbcType="DOUBLE" />
    <result column="time_limit" property="timeLimit" jdbcType="INTEGER" />
    <result column="risk_level" property="riskLevel" jdbcType="INTEGER" />
    <result column="financing_user_id" property="financingUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    financing_id, financing_name, income_per, begin_price, time_limit, risk_level, financing_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bank.po.FinancingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from financing
    where financing_id = #{financingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from financing
    where financing_id = #{financingId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.po.FinancingExample" >
    delete from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.po.Financing" >
    insert into financing (financing_id, financing_name, income_per, 
      begin_price, time_limit, risk_level, 
      financing_user_id)
    values (#{financingId,jdbcType=INTEGER}, #{financingName,jdbcType=VARCHAR}, #{incomePer,jdbcType=DOUBLE}, 
      #{beginPrice,jdbcType=DOUBLE}, #{timeLimit,jdbcType=INTEGER}, #{riskLevel,jdbcType=INTEGER}, 
      #{financingUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.po.Financing" >
    insert into financing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financingId != null" >
        financing_id,
      </if>
      <if test="financingName != null" >
        financing_name,
      </if>
      <if test="incomePer != null" >
        income_per,
      </if>
      <if test="beginPrice != null" >
        begin_price,
      </if>
      <if test="timeLimit != null" >
        time_limit,
      </if>
      <if test="riskLevel != null" >
        risk_level,
      </if>
      <if test="financingUserId != null" >
        financing_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financingId != null" >
        #{financingId,jdbcType=INTEGER},
      </if>
      <if test="financingName != null" >
        #{financingName,jdbcType=VARCHAR},
      </if>
      <if test="incomePer != null" >
        #{incomePer,jdbcType=DOUBLE},
      </if>
      <if test="beginPrice != null" >
        #{beginPrice,jdbcType=DOUBLE},
      </if>
      <if test="timeLimit != null" >
        #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="riskLevel != null" >
        #{riskLevel,jdbcType=INTEGER},
      </if>
      <if test="financingUserId != null" >
        #{financingUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.po.FinancingExample" resultType="java.lang.Integer" >
    select count(*) from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update financing
    <set >
      <if test="record.financingId != null" >
        financing_id = #{record.financingId,jdbcType=INTEGER},
      </if>
      <if test="record.financingName != null" >
        financing_name = #{record.financingName,jdbcType=VARCHAR},
      </if>
      <if test="record.incomePer != null" >
        income_per = #{record.incomePer,jdbcType=DOUBLE},
      </if>
      <if test="record.beginPrice != null" >
        begin_price = #{record.beginPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.timeLimit != null" >
        time_limit = #{record.timeLimit,jdbcType=INTEGER},
      </if>
      <if test="record.riskLevel != null" >
        risk_level = #{record.riskLevel,jdbcType=INTEGER},
      </if>
      <if test="record.financingUserId != null" >
        financing_user_id = #{record.financingUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update financing
    set financing_id = #{record.financingId,jdbcType=INTEGER},
      financing_name = #{record.financingName,jdbcType=VARCHAR},
      income_per = #{record.incomePer,jdbcType=DOUBLE},
      begin_price = #{record.beginPrice,jdbcType=DOUBLE},
      time_limit = #{record.timeLimit,jdbcType=INTEGER},
      risk_level = #{record.riskLevel,jdbcType=INTEGER},
      financing_user_id = #{record.financingUserId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.po.Financing" >
    update financing
    <set >
      <if test="financingName != null" >
        financing_name = #{financingName,jdbcType=VARCHAR},
      </if>
      <if test="incomePer != null" >
        income_per = #{incomePer,jdbcType=DOUBLE},
      </if>
      <if test="beginPrice != null" >
        begin_price = #{beginPrice,jdbcType=DOUBLE},
      </if>
      <if test="timeLimit != null" >
        time_limit = #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="riskLevel != null" >
        risk_level = #{riskLevel,jdbcType=INTEGER},
      </if>
      <if test="financingUserId != null" >
        financing_user_id = #{financingUserId,jdbcType=INTEGER},
      </if>
    </set>
    where financing_id = #{financingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.po.Financing" >
    update financing
    set financing_name = #{financingName,jdbcType=VARCHAR},
      income_per = #{incomePer,jdbcType=DOUBLE},
      begin_price = #{beginPrice,jdbcType=DOUBLE},
      time_limit = #{timeLimit,jdbcType=INTEGER},
      risk_level = #{riskLevel,jdbcType=INTEGER},
      financing_user_id = #{financingUserId,jdbcType=INTEGER}
    where financing_id = #{financingId,jdbcType=INTEGER}
  </update>
</mapper>