.ebdp-pc4promote-menu-left {
	position: relative;
	left: 40px;
}

.ebdp-pc4promote-menu-level1-block {
	background-color: #fff;
	position: relative;
	margin: 0 auto;
	text-align: center; 
} 

.ebdp-pc4promote-menu-level1-next-btn {
	position: absolute;
	right: 20px;
	top: 14px;   
	font-size: 14px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url(next.png) center center no-repeat;
	display: none;
}

.ebdp-pc4promote-menu-level1-prev-btn {
	position: absolute;
	left: 20px;
	top: 14px;
	font-size: 14px;
	cursor: pointer;       
	width: 15px;
	height: 15px;
	background: url(prev.png) center center no-repeat;
	display: none;  
}  

.ebdp-pc4promote-menu-level1-wrapper {
	margin: 0 auto;
	padding: 0px;
	background: #ffffff; 
  	font-size: 16px; 
  	width: 100%; 
	height: 40px;
	color: #626262;  
	font-weight: normal;
	border-bottom: 2px solid #c7000b;
	overflow: hidden;  
	position: relative;
}    

.ebdp-pc4promote-menu-level1-wrapper-type8 {
	border-bottom: 0px; 
	background: #fafafa; 
}

.ebdp-pc4promote-menu-level1-wrapper-type10 {
	border-bottom: 0px; 
 	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#e5e6e6',gradientType='0');
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr='#e5e6e6',gradientType='0');/*IE8*/	
    background:-moz-linear-gradient(top, #fff, #e5e6e6);   
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e5e6e6));  
    background:-o-linear-gradient(top, #fff, #e5e6e6); 
  	background: -ms-linear-gradient(top, #fff, #e5e6e6); 
}

.ebdp-pc4promote-menu-level1-wrapper-type12 {
	margin: 0 auto;
	padding: 0px;
	background: #ffffff; 
  	font-size: 16px; 
  	width: 100%; 
	height: 40px;
	color: #626262;  
	font-weight: normal;
	border-bottom: 2px solid #c7000b;
	position: relative;
}

.ebdp-pc4promote-menu-level1 { 
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center;
	overflow: hidden; 
	height: 40px;  
}

.ebdp-pc4promote-menu-level1-type12 { 
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center;
	height: 40px;  
}

.ebdp-pc4promote-menu-level1-node {
	float: left;
	display: block;
	margin: 0px;
	text-align: center;  
	height: 40px;
	line-height: 40px;   
	position : relative; 
	border-right: 1px solid #ebebeb;
	cursor: pointer;
}

.ebdp-pc4promote-menu-level1-node-more{
	margin: 0px;
	padding: 0px;
	display: none;
	position:absolute;
	left:0px;
	top:40px;
	width:100%;
	*width:100%;
}
.ebdp-pc4promote-menu-level1-node-more-type12{
	float: left;
	display: block;
	list-style-type: none;
	text-align: center;  
	height: 40px;
	line-height: 40px;   
	position : relative; 
	cursor: pointer;
	background-color:#fff;
    border-bottom: 2px solid #c7000b
}

.ebdp-pc4promote-menu-level1-node-type10 {
	border-right: 0px; 
}

.ebdp-pc4promote-menu-level1-node-type7 {
	border-right: 0px;
	
}

.ebdp-pc4promote-menu-level1-node-type12 {
	border-right: 0px;
}

.ebdp-pc4promote-menu-level1-node-type8 {
	border-right: 0px;
}


.ebdp-pc4promote-menu-level1-node-selected {
	background-color: #c7000b;
}

.ebdp-pc4promote-menu-level1-node-selected-type3 {
	background-color: #c7000b;
}

.ebdp-pc4promote-menu-level1-node-selected-type8 {
	background-color: #fff;
}

.ebdp-pc4promote-menu-level1-node-type6 {
	height: 31px;
	line-height: 31px;
}

.ebdp-pc4promote-menu-level1-text {
	float: left;
	font-size: 16px;
	color: #3e3a39;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width: 149px;
	/**margin-left:10px;
	margin-right:10px; */
}

.ebdp-pc4promote-menu-level1-text-more-type12 {
	float: left;
	font-size: 16px;
	color: #3e3a39;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	
	/**margin-left:10px;
	margin-right:10px; */
}

.ebdp-pc4promote-menu-text-padding {
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
}

.ebdp-pc4promote-menu-16text-padding {
	padding-left: 12px;
	padding-right: 12px;
	width: auto;
}

.ebdp-pc4promote-menu-level1-text-type7 {
	margin-left: 0px;
	margin-right: 0px;
	border-right: 1px solid #ebebeb;
}

.ebdp-pc4promote-menu-level1-text-type12 {
	margin-left: 0px;
	margin-right: 0px;
	border-right: 1px solid #ebebeb;
}

.ebdp-pc4promote-menu-level1-text-type8 {
	margin-left: 0px;
	margin-right: 0px;
	border-right: 1px solid #ebebeb;
}

.ebdp-pc4promote-menu-level1-text-type10 {
	margin-left: 0px;
	margin-right: 0px;
	width: 144px;
	font-size: 14px;  
} 

.ebdp-pc4promote-menu-level1-text-type6 {
	/**padding: 0px 13px; */
	height: 31px;   
}
 
.ebdp-pc4promote-menu-level1-split {
	font-weight: lighter;   
}

.ebdp-pc4promote-menu-level1-selected {
	padding-top: 0px;
	padding-bottom: 0px; 
	color: #fff;
}

.ebdp-pc4promote-menu-level1-selected-type10 {
	color: #c7000b;
}


.ebdp-pc4promote-menu-level1-selected-type6 { 
	height: 31px; 
	color: #fff; 
}

.ebdp-pc4promote-menu-level1-selected-type3 {
}

.ebdp-pc4promote-menu-level1-selected-type8 {
	color: #c7000b; 
}

.ebdp-pc4promote-menu-level2-block {
	background-color: #fff;
	position: relative;
	text-align: center;
  	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#e5e6e6',gradientType='0');
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr='#e5e6e6',gradientType='0');/*IE8*/	
    background:-moz-linear-gradient(top, #fff, #e5e6e6);   
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e5e6e6));  
    background:-o-linear-gradient(top, #fff, #e5e6e6);  
    background: -ms-linear-gradient(top, #fff, #e5e6e6);  
}
 
.ebdp-pc4promote-menu-level2-next-btn {
	position: absolute;
	right: 20px;
	top: 14px;   
	font-size: 14px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url(next.png) center center no-repeat;
	display: none;
}

.ebdp-pc4promote-menu-level2-prev-btn {
	position: absolute;
	left: 20px;
	top: 14px;
	font-size: 14px;
	cursor: pointer;    
	width: 15px;
	height: 15px;
	background: url(prev.png) center center no-repeat;
	display: none;  
}

.ebdp-pc4promote-menu-level2-wrapper {
	margin: 0 auto;
	padding: 0px;
	background: #fafafa;
	border-top: 0px;
	font-size: 14px; 
	color: #888889;  
	font-weight: normal;  
	overflow: hidden; 
	position: relative; 
}

.ebdp-pc4promote-menu-level2-gradient { 
	height: 42px;
   	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#e5e6e6',gradientType='0');
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr='#e5e6e6',gradientType='0');/*IE8*/	
  	background:-moz-linear-gradient(top, #fff, #e5e6e6);   
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e5e6e6));  
    background:-o-linear-gradient(top, #fff, #e5e6e6);
    background: -ms-linear-gradient(top, #fff, #e5e6e6); 
}

.ebdp-pc4promote-menu-level2 {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center; 
	display: inline;
	height: 42px;
	overflow: hidden;
}

.ebdp-pc4promote-menu-level2-node {
	float: left;
	display: block;
	margin: 0px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	position : relative;
	cursor: pointer;
}

.ebdp-pc4promote-menu-level2-node-selected {
}

.ebdp-pc4promote-menu-level2-selected {
	color: #c7000b;
}   

.ebdp-pc4promote-menu-level2-text {
	float: left;
	/**margin-left: 28px;
	margin-right: 28px;*/
	width: 145px; 
}

.ebdp-pc4promote-menu-level2-split { 
	color: #626262;
	font-weight: lighter;   
}

.ebdp-pc4promote-menu-level2-type4 {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center;
	line-height: 48px; 
	height: 48px; 
	border-bottom: 2px solid #fc6469; 
}
.ebdp-pc4promote-menu-level2-type4BoderGray{
	border-color:#CCCCCC;
}

.ebdp-pc4promote-menu-level2-type9 {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center;     
	line-height: 16px; 
	height: 16px;  
}

.ebdp-pc4promote-menu-level2-node-type4 {
	float: left;
	margin: 0px;
	padding:0px 20px; 
	height: 45px;  
	cursor: pointer; 
}

.ebdp-pc4promote-menu-level2-node-type9 {
	float: left;
	margin: 0px;
	height: 16px;
	line-height: 16px;     
}

.ebdp-pc4promote-menu-level2-selected-type4 { 
	border-bottom: 4px solid #fc6469;      
}

.ebdp-pc4promote-menu-level2-selected-type9 {
	color: #c7000b; 
}

.ebdp-pc4promote-menu-level2-wrapper-type5 {
	height: 57px;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#e5e6e6',gradientType='0');
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr='#e5e6e6',gradientType='0');/*IE8*/	
    background:-moz-linear-gradient(top, #fff, #e5e6e6);   
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e5e6e6));  
    background:-o-linear-gradient(top, #fff, #e5e6e6);
    background: -ms-linear-gradient(top, #fff, #e5e6e6);  
}

.ebdp-pc4promote-menu-level2-wrapper-type9 { 
	height: 16px;  
	background: #fff; 
}

.ebdp-pc4promote-menu-level2-type5 {
	clear: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	text-align: center;
	display: inline;
	height: 57px;
	padding-left: 14px;
} 

.ebdp-pc4promote-menu-level2-node-type5 {
	padding: 6px 16px;        
	float: left;
	display: block;
	margin: 0px;
	text-align: center;
	cursor: pointer; 
}

.ebdp-pc4promote-menu-level2-text-type5 {
	cursor: pointer;  
}

.ebdp-pc4promote-menu-level2-image {
	display: block; 
	margin-bottom: 3px; 
	height: 21px;	
}

.ebdp-pc4promote-menu-level2-selected-type5 {
	background: #fff;
	border-bottom: 1px solid #fc6469; 
}

.ebdp-col-12 { 
	width: 8.33333333%;
}

.ebdp-col-11 {
	width: 9.09090909%;
}

.ebdp-col-10 {
	width: 10%;
}

.ebdp-col-9 {
	width: 11.11111111%;
}

.ebdp-col-8 {
	width: 12.5%;
}

.ebdp-col-7 {
	width: 14.28571428%;
}

.ebdp-col-6 {
	width: 16.66666667%;
}

.ebdp-col-5 {
	width: 19.99%; 
}

.ebdp-col-4 {
	width: 24.99%;
}

.ebdp-col-3 {
 	width: 33.33333333%;
}

.ebdp-col-2 {
 	width: 49.99%; 
}

.ebdp-col-1 {
 	width: 100%; 
}



.ebdp-col-12-quirk { 
	width: 8%;
}

.ebdp-col-11-quirk {
	width: 9%;
}

.ebdp-col-10-quirk {
	width: 9.5%;
}

.ebdp-col-9-quirk {
	width: 11%;
}

.ebdp-col-8-quirk {
	width: 12%;
}

.ebdp-col-7-quirk {
	width: 14%;
}

.ebdp-col-6-quirk {
	width: 16%;
}

.ebdp-col-5-quirk {
	width: 19%; 
}

.ebdp-col-4-quirk {
	width: 24%;
}

.ebdp-col-3-quirk {
 	width: 33%;
}

.ebdp-col-2-quirk {
 	width: 49.9%; 
}

.ebdp-col-1-quirk {
 	width: 99%;  
}
