<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenlong.dao.UserIFMapper" >
  <sql id="userinfo">
    user_id,user_name,user_pwd,user_identity,user_status,user_created
  </sql>
<select id="selectlistUserInfoByPage" resultType="com.wenlong.pojo.po.Userinfo">
  select <include refid="userinfo"></include> from userinfo order by user_id asc limit #{offset},#{limit}
</select>
</mapper>